<div class="header card">
  <h3 id="header-title">CuziStim</h3>
  <nav>
    <t>|</t><a href="/topic/proiecte"> Proiecte si Activitati Extrascolare </a><t>|</t>
    <br />
    <t>|</t><a href="/topic/rezultate"> Rezultatete Academice </a><t>|</t>
    <br />
    <t>|</t><a href="/topic/interviu"> Interviul Saptamanii </a><t>|</t>
  <nav>
</div>
<div id="header2" class="card">
  <h2 id="header-title">CuziStim</h2>
  <nav>
    <t>|</t><a> Proiecte si Activitati Extrascolare </a><t>|</t>
    <t>|</t><a> Rezultate Academice </a><t>|</t>
    <t>|</t><a> Interviul Saptamanii </a><t>|</t>
</div>